<!DOCTYPE html>
<html>
<head>
    <title>Dictionary</title>
</head>
<body>
    <h1>Bootleg Urban Dictionary</h1>
    <form action='.' method="post">{% csrf_token %}
        <input type="text" name="title" placeholder="Search Words"/>
        <input type="submit" value="Find">
    <form/>

    {% for word in words %}
        <h2> {{ word.word_text }}</h2>
        {% for desc in desc %}
            {% if desc.word == word %}
                <p> {{ desc.desc_text }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}

</body>
</html>