{% extends "Dictionary/base.html"%}
{% block content %}
    <h1>Bootleg Urban Dictionary</h1>
    <form action="{% url 'UDictionary:search'%}" method="post">
        {% csrf_token %}
        <input type="text" name="search_id" placeholder="Search Words">
        <input type="submit" value="Find">
    </form>

    {% for word in words %}

        <h2> {{ word.word_text }}</h2>
        <div class="container"><ol>
        {% for desc in desc %}

            {% if desc.word == word %}

                <li><p> {{ desc.desc_text }}<br>
                <small class="text-muted">Posted by, {{ desc.posted_by }}</small>
                </p></li>

            {% endif %}

        {% endfor %}
    </ol></div><hr>
    {% endfor %}

{% endblock content %}
